alembic
aniso8601
asgiref
bcrypt
blinker
cachelib
captcha
certifi
charset-normalizer
click
colorama
decouple
Django
dnspython
email_validator
Faker
Flask
Flask-Bcrypt
Flask-Caching
Flask-Flash
Flask-HTTPAuth
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
Flask-WTF
idna
inflect
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
more-itertools
numpy
packaging
pillow
python-dateutil
pytz
PyYAML
requests
setuptools
six
SQLAlchemy
sqlparse
typeguard
typing_extensions
tzdata
urllib3
Werkzeug
wheel
WTForms
gunicorn