<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/reset.css" />
        <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="website icon" href="../static/img/logo/CogniPeak-title.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
       /* Footer Styles */
      footer {
        background-color: #3cb2cd;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: auto;
      }

      .flash-messages {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
      }

      .flash-messages ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .flash-messages li {
        background-color: rgba(60, 178, 205, 0.9);
        color: white;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        animation: fade-out 5s ease forwards;
      }

      @keyframes fade-out {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    </style>
    <title>CogniPeak - აზროვნების მწვერვალი</title>
  </head>
  <body>
  <header>
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul>
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>
    <div>
      <img
        class="logo"
        src="../static/img/logo/CogniPeak.png"
        alt="CogniPeak"
      />
    </div>
    <div style="display: flex; align-items: center;">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">მთავარი</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ჩვენს შესახებ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">კონტაქტი</a>
      </li>
    </ul>

    <div class="buttons">
      <a href="/login"><button class="login">შესვლა</button></a>
    </div>
  </div>
       <a href="https://www.tbceducation.ge/"> <img src="../../static/img/logo/tbc-logo.png" alt="logo" width="100px" flex="right"> </a>
  </header>
  <main>
    <div class="background">
      <div class="hello">
        <h1>ჰეი, გამარჯობა! 👋</h1>
        <p>CogniPeak-ში ყველაფერია, რაც სწავლაში, განვითარებასა და შენი მიზნების მიღწევაში დაგეხმარება. 🚀📚
მოდი, ერთად ავიდეთ ახალი მწვერვალებზე!🗻</p>
<a href="/signup"> <button class="signup-2">დარეგისტრირდი</button> </a>
      </div>

      <img class="bg-img" src="../static/img/img/background.png" alt="background">
    </div>

    <div class="cards">
      <div class="card" style="width: 20rem;">
  <img src="../static/img/img/gakvetilebi.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">გაკვეთილები</h5>
    <p class="card-text">განავითარე შენი ცოდნა და აღმოაჩინე საინტერესო თემები. 📔</p>
    <a href="/gakvetilebi" class="btn btn-primary">გაიღრმავე ცოდნა</a>

  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="../static/img/img/about-us.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ჩვენს შესახებ</h5>
    <p class="card-text">აქ სწავლა მარტივია და საინტერესო. მოდით, გავძლიეროთ ცოდნა ერთად! 😊</p>

    <a href="/about" class="btn btn-primary">გაგვეცანი</a>
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="../static/img/img/contact-us.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> საინტერესო ფაქტები </h5>
    <p class="card-text">გაეცანი ახალ მეთოდებს და ფაქტებს რაც მეცადინეობას გაგიმარტივებს. 📢</p>
    <a href="https://www.ilovepdf.com/blog/best-study-methods-techniques" class="btn btn-primary" target="_blank">☝️☝️☝️</a>
  </div>
</div>
    </div>
    <div>
      <h1 style= "text-align: center; margin-bottom: 50px"> ტოპ 3 საგანი 👑 </h1>
      <div>
      <div class="top-5" style="display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-bottom: 70px">
        <div class="card" style="width: 20rem;">
          <img src="../static/img/img/math.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; margin-bottom: 20px;">მათემატიკა</h5>
                        <a href="/gakvetilebi"><button class="btn btn-primary" style="text-align: center; ">გადახედვა</button></a>

            </div>
        </div>

        
        <div class="card" style="width: 20rem;">
          <img src="../static/img/img/history.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; margin-bottom: 20px;">ისტორია</h5>
                        <a href="/gakvetilebi"><button class="btn btn-primary" style="text-align: center;">გადახედვა</button></a>

            </div>
        </div>

        <div class="card" style="width: 20rem;">
          <img src="../static/img/img/georgian.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; margin-bottom: 20px;">ქართული</h5>
            <a href="/gakvetilebi"><button class="btn btn-primary" style="text-align: center;">გადახედვა</button></a>
            </div>
        </div>

      </div>

    </div>
  </main>
  <footer class="footer">
    <div >&copy; 2025<span id="year"> </span><span> CogniPeak. ყველა უფლება დაცულია.</span></div>
</footer>

<script>
      // Remove flash messages after 5 seconds
      setTimeout(() => {
        const flashMessages = document.querySelector(".flash-messages");
        if (flashMessages) {
          flashMessages.remove();
        }
      }, 10000);
    </script>
  </body>
</html>
